@model List<CurriculoViewModel>
@{
    ViewData["Title"] = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Currículos</h2>

<a href="/curriculo/create">Novo currículo</a>

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>Nome</th>
        <th>CPF</th>
    </tr>
    @foreach (var curriculo in Model)
    {
        <tr>
            <td><a href="/curriculo/Exibicao?cpf=@curriculo.Cpf">Exibir</a> </td>
            <td>@curriculo.Nome</td>
            <td>@curriculo.Cpf</td>
        </tr>
    }
</table>